body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: white;
    color: black;
}

nav {
    background: #1e293b;
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white
}

nav .logo {
    font-size: 20px;
    font-weight: bold;
    color: white
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: 500;
}

nav ul li a:hover {
    color: #3b82f6;
}

.container {
    padding: 40px;
}

.card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}

.card {
    background: #1e293b;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
    color:white
}

.card h3 {
 margin: 0 0 10px 0;
 color: white
}

.card p {
    margin: 0;
    color: #white;
}

.form-box {
    max-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

input {
    padding: 10px;
    border-radius: 5px;
    border: none;
}

button {
    padding: 10px;
    border: none;
    background: #3b82f6;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #2563eb;
}
